* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #252529;
    color: #fff;
    line-height: 1.6;
}

/* Navigation */
nav {
    height: 41px;
    width: 100%;
    background-color: #333;
    color: #eee;
    position: fixed;
    opacity: 0.85;
    z-index: 2;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #ddd;
    padding: 8px 20px 7.5px  20px;
}

nav li:first-child {
    font-weight: 700;
}

nav li:hover {
    background-color: #545454;
}

nav a#openup {
    display: none;
}

/* background */
.showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(img/study.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    transition: all 1000ms;
}
.showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.main {
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 7%;
    color: #444;
}

.main h1 {
    font-size: 7rem;
    /* font-family: 'Almarai', sans-serif; */
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    line-height: 0.9;
    margin-bottom: 30px;
    width: 200px;
}

.main p {
    width: 450px;
    font-size: 1.2rem;
}
  
@media screen and (max-width: 580px) {
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
    }

    .main {
        top: 14%;
    }
    .main p {
        display: none;
    }

    .main h1 {
        font-size: 4rem;
    }

  }
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }